:root{
  --non-capable-display: none;
  --camera-denied-diplay: none;
  --analyzisWrapper-display:block;
  --error-display:none;
}

.non-capable {
  display: var(--non-capable-display);
}

.camera-denied {
  display: var(--camera-denied-diplay);
}

.analyzisWrapper {
  display: var(--analyzisWrapper-display);
}

.error {
  display: var(--error-display);
}
