
body{
  min-width: 440px;
  background: #262626;
  margin: 20px;
  font-family: tahoma;
}

main {
  width: 70%;
  margin: 0 auto;
  background: #323232;
  border-top: 3px solid #610605;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #CCCCCC;
}

.non-capable {
  background: #610605;
}

.camera-denied {
  display: none;
  background: #610605;
  margin: 10px;
}

h2{
  margin: 15px;
}

.camera-allowed {
  display: none
}

.analyzis-wrapper {
  display: none;
  margin: 15px;
}

.error-wrapper {
  display: none;
  margin: 15px;
  background: #610605;
}

.video-wrapper {
}

.record {
  display: flex;
  flex-direction: row;
}

.canvas-opt {
  display: flex;
  width: 320px;
  height: 180px;
  justify-content: center;
  margin: 10px;
}

video{
  margin: 10px;
}

.captureBtn {
  filter: invert(0%);
  background-color: #315D7B;
  border: none;
  color: #ECECFA;
  padding: 15px 32px;
  margin: 10px;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}

.captureBtn:hover {
  filter: invert(100%);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.capable{
}

@media only screen and (max-width: 900px) {
    main {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
  .record {
    display: flex;
    flex-direction: column;
  }
}
