:root{
  --analyzisWrapper-display:block;
  --error-display:none;
}

.non-capable {
}

.camera-denied {
  display: none
}

.camera-allowed {
  display: none
}



.analyzisWrapper {
  display: var(--analyzisWrapper-display);
}

.error {
  display: var(--error-display);
}
